<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExchangeLogAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <ExchangeLogAnalyzer.Properties.Settings>
            <setting name="SourcePaths" serializeAs="String">
                <value>\\srvmail-ht1\c$\Program Files\Microsoft\Exchange Server\V14\TransportRoles\Logs\AgentLog\|\\srvmail-ht2\c$\Program Files\Microsoft\Exchange Server\V14\TransportRoles\Logs\AgentLog\</value>
            </setting>
        </ExchangeLogAnalyzer.Properties.Settings>
    </userSettings>
</configuration>